# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/src/Pantheon/dist
/src/Pantheon/tmp
/src/Pantheon/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/src/Pantheon.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/src/Pantheon/e2e/*.js
/src/Pantheon/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Pantheon/v15/.suo
/src/Pantheon.UI/e2e
/src/Pantheon.UI/node_modules
/src/Pantheon.UI/dist
/src/Pantheon.Api/Pantheon.Api/bin
/src/Pantheon.Api/.vs/Pantheon.Api/v15/Server/sqlite3
/src/Pantheon.Api/.vs/Pantheon.Api/obj
